.menu {
  font-style: bold;
}

option {
  font-family: roboto;
}

.dataEntryLabel {
  color: #000;
  font-weight: 600;
}

.dataEntryChildren {
  font-family: 'roboto';
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #585858;
  text-overflow: ellipsis;
  overflow: hidden;
}

.lastNameSubContainer {
  width: 100%;
}

.menu a,
.menuLink {
  margin: 0 auto;
  padding: 20px 0;
  border-left-style: unset;
  border-bottom-color: #f0f0f0;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-width: thick;
  border-bottom-width: thin;
  font-size: 18px;
  line-height: 22px;
  color: #000;
}

.menu a:not(:global(.b--transparent)) {
  border-right-color: #f08769;
}

.menuLink {
  border: 0;
}

.userName {
  font-size: 16px;
  line-height: 24px;
  color: #272727;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: initial;
  width: 300px;
}

@media screen and (min-width: 500px) and (max-width: 1080px) {
  .userName {
    width: 180px;
  }
}

@media screen and (min-width: 700px) and (max-width: 820px) {
  :global(.vtex-my-account-1-x-menu a:not(.b--transparent)) {
    margin-right: -30px;
  }
}

:global(#force-shipping-fields),
:global(#force-shipping-fields div) {
  border: none;
  text-transform: capitalize;
  padding: 0 !important;
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 300;
  text-decoration: underline;
  color: #f08769;
}

.userInfo {
  align-items: center;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.userGreeting {
  margin: 0;
  color: #272727;
}

:global(.vtex-toast) {
  font-family: 'roboto';
}

:global(.vtex-order-placed-2-x-cancelOrderButton.w-100.w-auto-m),
:global(.dib-ns):last-child {
  display: none;
}

:global(.vtex-my-authentication-1-x-box_content input) {
  max-width: 368px;
}

:global(.myo-progress-bar__mobile-text span) {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}

:global(.newAddressButton div),
:global(.vtex-my-cards-1-x-newCardButton div) {
  color: #f08769;
}

:global(.vtex-button__label) {
  font-family: 'roboto';
  font-weight: 500;
}

:global(.newAddressButton div:before),
:global(.vtex-my-cards-1-x-newCardButton div:before) {
  content: '';
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.7' y='0.7' width='22.6' height='22.6' rx='11.3' fill='transparent'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.7001 8.43779C12.7001 8.05119 12.3867 7.73779 12.0001 7.73779C11.6135 7.73779 11.3001 8.05119 11.3001 8.43779V11.3H8.32274C7.93614 11.3 7.62274 11.6134 7.62274 12C7.62274 12.3866 7.93614 12.7 8.32274 12.7H11.3001V15.5624C11.3001 15.949 11.6135 16.2624 12.0001 16.2624C12.3867 16.2624 12.7001 15.949 12.7001 15.5624V12.7H15.6773C16.0639 12.7 16.3773 12.3866 16.3773 12C16.3773 11.6134 16.0639 11.3 15.6773 11.3H12.7001V8.43779Z' fill='%23F08769'/%3E%3Crect x='0.7' y='0.7' width='22.6' height='22.6' rx='11.3' stroke='%23F08769' stroke-width='1.4'/%3E%3C/svg%3E%0A");
  width: 24px;
  height: 24px;
  float: left;
  margin: 0 8px 0 0;
}

:global(.vtex-return-app-2-x-successMessage) {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  font-family: 'Cormorant Garond';
}

:global(.newAddressButton button),
:global(.vtex-my-cards-1-x-newCardButton button) {
  background-color: transparent;
  border-color: transparent;
}

:global(.newAddressButton button:hover),
:global(.vtex-my-cards-1-x-newCardButton button:hover) {
  background-color: #fde1d5;
  border-color: #fde1d5;
}

:global(.vtex-my-account-1-x-boxContainer) {
  border: unset;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

:global(.vtex-my-account-1-x-boxContainer),
:global(.vtex-my-authentication-1-x-box_container) {
  border: unset;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

:global(.vtex-account__page) {
  width: 1077px;
  height: fit-content;
  min-height: 100%;
  background-color: #fafafa;
}

.menu {
  padding: 40px 48px;
  font-weight: 600;
}

:global(.vtex-pageHeader__title) {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
}

:global(.vtex-pageHeader__container) {
  padding: 24px 32px 16px;
}

:global(.vtex-pageHeader__container) :global(.vtex-pageHeader-link__container) :global(.vtex-button) div span {
  font-size: 0;
}

:global(.vtex-pageHeader__container) :global(.vtex-pageHeader-link__container) :global(.vtex-button) div span::before {
  content: 'Voltar';
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
}

:global(.vtex-pageHeader__container) :global(.vtex-pageHeader-link__container) :global(.vtex-button):hover {
  background: #fafafa;
}

:global(.vtex-return-app-2-x-orderInfoHeader)+div {
  background-color: #ffffff;
}

:global(.vtex-pageHeader-link__container) {
  margin: 0;
}

:global(.vtex-pageHeader-link__container > button svg) {
  display: none;
}

:global(.vtex-pageHeader-link__container > button)::before {
  content: '';
  width: 22px;
  height: 32px;
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='32' viewBox='0 0 22 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 8.00171L2 16.0017L10 23.998' stroke='%23F08769' stroke-width='1.4' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
}

:global(.vtex-modal__confirmation > span > button > div) {
  color: #000000;
}

:global(.vtex-modal__confirmation > span > button) {
  border-color: #000000;
  border-width: 1px;
}

:global(.vtex-modal__confirmation > span > button):hover {
  border-color: #000000;
  background-color: transparent;
}

:global(.vtex-modal__confirmation) {
  justify-content: center;
}

:global(.vtex-pageHeader-link__container > button) {
  display: flex;
  align-items: center;
}

:global(.vtex-pageHeader-link__container > button > div) {
  padding: 0;
}

:global(.vtex-pageHeader-link__container > button > div span) {
  text-transform: capitalize;
  font-size: 12px;
  letter-spacing: 0.05em;
  color: #000000;
  margin: 0;
  font-weight: 600;
}

:global(.vtex-account__page-body) {
  padding: 0px 32px 24px;
}

:global(.vtex-pageHeader-link__container) {
  padding-bottom: 1rem;
}

:global(.vtex-radioGroup__fieldset) {
  margin: 0;
}

.boxContainerBody {
  padding: 0px;
  max-width: 368px;
}

:global(.vtex-return-app-2-x-backToOrders) {
  display: none;
}

:global(.vtex-return-app-2-x-orderInfoHeader) {
  background: #f0f0f0;
}

:global(#root) {
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.addressCreate .boxContainerBody,
.addressEdit .boxContainerBody,
.profileFormBoxContainer .boxContainerBody {
  margin: 40px;
}

.boxContainer :global(.address-summary) {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 300;
}

:global(.vtex-my-orders-app-3-x-font) {
  font-family: 'roboto';
}

:global(.c-link) {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 700;
}

:global(.c-on-base) {
  color: #272727;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.boxContainer :global(.address-summary .c-link) {
  text-decoration: underline;
}

.boxContainer :global(.address-summary .c-link:before),
:global(#force-shipping-fields div:before) {
  content: '';
  width: 16px;
  height: 14px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.59229 5.03516L10.6845 7.12734' stroke='%23F08769' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.83243 3.79478L4.18355 9.44366L3.36133 12.3576L6.27573 11.5358L11.9246 5.88696C12.5021 5.3091 12.5021 4.37222 11.9246 3.79478C11.3468 3.21692 10.4099 3.21692 9.83243 3.79478Z' stroke='%23F08769' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

:global(.vtex-address-form__postalCode svg) {
  display: none;
}

:global(#root > .flex > .w-100) {
  max-width: 368px !important;
}

:global(#root > .flex > .w-100 > .flex ~ .mt5) {
  flex-direction: column;
}

:global(#root > .flex > .w-100 > .flex > .ml5) {
  margin-left: 0;
  margin-top: 16px;
  border: 1px solid #000000;
}

:global(#root > .flex > .w-100 > .flex > .ml5 .vtex-button__label) {
  color: #000000;
  font-weight: 500;
  font-size: 14px;
}

:global(#root > .flex > .w-100 > .flex > button > div) {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
}

:global(.vtex-account input),
:global(.vtex-input .vtex-input-prefix__group) {
  border: 1px solid #585858;
  background: #fff;
  min-height: 40px;
  border-radius: 0;
  color: #272727;
  font-size: 17px;
  font-family: 'Roboto';
}

:global(.vtex-input .vtex-input-prefix__group input) {
  font-family: 'Roboto';
}

:global(.vtex-account input):hover {
  border: 1px solid #585858;
}

:global(.vtex-account .vtex-dropdown),
:global(.vtex-address-form__country .vtex-dropdown),
:global(.vtex-address-form__state .vtex-dropdown) {
  margin-bottom: 16px;
}

:global(.vtex-account .vtex-dropdown > label > div),
:global(.vtex-address-form__country .vtex-dropdown > label > div),
:global(.vtex-dropdown > label > div) {
  min-height: 40px;
  font-family: 'Roboto';
  border: 1px solid #585858;
  border-radius: 0;
}

:global(.vtex-account .vtex-dropdown > label > div .vtex-dropdown__button),
:global(.vtex-address-form__country .vtex-dropdown > label > div .vtex-dropdown__button),
:global(.vtex-dropdown > label > div .vtex-dropdown__button) {
  padding: 9px 16px;
  height: 100%;
  font-size: 14px;
  line-height: 140.62%;
}

:global(.vtex-profile-form-3-x-styleguideInput) {
  padding: 0;
  margin-bottom: 16px;
}

:global(.vtex-my-orders-app-3-x-orderHeader) {
  background: #feede4;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  color: #272727;
}

:global(.vtex-my-orders-app-3-x-orderHeaderValue),
:global(.vtex-my-orders-app-3-x-orderHeaderLabel),
:global(.vtex-my-orders-app-3-x-orderId) {
  font-size: 14px;
  text-transform: lowercase;
  font-weight: 400;
  color: #272727;
}

:global(.vtex-my-orders-app-3-x-orderHeaderValue)::first-letter,
:global(.vtex-my-orders-app-3-x-orderHeaderLabel)::first-letter,
:global(.vtex-my-orders-app-3-x-orderId)::first-letter {
  text-transform: capitalize;
}

:global(.vtex-my-orders-app-3-x-orderHeaderValue) {
  padding-top: 0.25rem;
}

:global(.vtex-my-orders-app-3-x-invoiceBtn svg),
:global(.vtex-my-orders-app-3-x-cancelBtn svg),
:global(.vtex-my-orders-app-3-x-reorderBtn svg) {
  display: none;
  margin: 0;
  width: 0;
}

:global(.vtex-my-orders-app-3-x-productName) {
  text-decoration: none;
  color: #000;
}

:global(.overflow-y-auto) {
  overflow-x: hidden;
}

:global(.vtex-my-orders-app-3-x-productTable) {
  background-color: #fff;
  padding: 24px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

:global(.vtex-my-orders-app-3-x-productTable > thead > tr > th) {
  color: #000000;
  font-weight: 600;
  font-size: 22px;
}

:global(.vtex-my-orders-app-3-x-invoiceBtn),
:global(.vtex-my-orders-app-3-x-detailsBtn),
:global(.vtex-my-orders-app-3-x-reorderBtn) {
  text-decoration-line: underline;
  width: 100%;
  text-transform: uppercase;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  color: #000000;
}

:global(.vtex-my-orders-app-3-x-reorderBtn) {
  margin: 0;
  text-decoration-line: none;
  border: 1px solid #000000;
  padding: 0.75rem;
}

:global(.vtex-my-orders-app-3-x-cancelBtn) {
  display: none;
}

:global(.vtex-my-orders-app-3-x-detailsBtn) {
  text-decoration-line: none;
  border-radius: 0;
  background: #ffa687;
  padding: 0.75rem;
}

:global(.vtex-my-orders-app-3-x-orderHeader .ph3),
:global(.vtex-my-orders-app-3-x-orderHeader .ph3 .c-on-base) {
  background: transparent;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  padding-right: 0;
  font-size: 14px;
}

:global(.vtex-my-orders-app-3-x-orderHeader .mt2-ns) {
  margin-top: 0;
}

:global(.vtex-my-orders-app-3-x-orderProductName) {
  font-family: 'Cormorant Garamond';
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}

:global(.vtex-my-orders-app-3-x-orderBody) {
  font-family: 'Roboto';
  color: #000000;
  font-weight: 400;
}

:global(.vtex-my-orders-app-3-x-orderProductQuantityValue) {
  font-weight: 400;
}

:global(.vtex-my-orders-app-3-x-orderProductShipping) {
  color: #737373;
  font-weight: 400;
}

:global(.vtex-my-orders-app-3-x-orderHeaderValue > .absolute) {
  margin-top: 0;
}

:global(.vtex-input .vtex-input__label),
:global(.vtex-account .vtex-dropdown__label),
:global(.vtex-dropdown .vtex-dropdown__label) {
  font-size: 12px;
  line-height: 140.62%;
  margin-bottom: 4px;
  color: #313030;
  font-family: 'Roboto';
}

:global(.vtex-profile-form-3-x-personalFields) {
  margin-bottom: 16px;
}

:global(.vtex-profile-form-3-x-toggleBusinessButtonWrapper) {
  margin-bottom: 16px;
}

:global(.vtex-profile-form-3-x-toggleBusinessButtonWrapper button),
.addressEdit .boxContainerBody>div:last-child> :global(button) {
  min-height: 48px;
  border: 1px solid #000000 !important;
  background-color: #fff !important;
  color: #000 !important;
  font-family: 'Roboto';
  letter-spacing: 0.1em;
  border-radius: 0;
  font-size: 12px;
  line-height: 14px;
}

:global(.vtex-address-form__country),
:global(.vtex-address-form__postalCode) {
  padding: 0;
}

:global(.vtex-address-form__postalCode .vtex-address-form__postalCode-forgottenURL svg) {
  display: none;
}

:global(.vtex-address-form__postalCode .vtex-address-form__postalCode-forgottenURL),
:global(.vtex-address-form__postalCode .pt4) {
  padding: 8px 0 16px 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  text-decoration-line: underline;
  text-transform: uppercase;
}

:global(.vtex-address-form__postalCode .vtex-address-form__postalCode-forgottenURL a),
:global(.vtex-address-form__postalCode .pt4 a) {
  color: #737373;
}

:global(.vtex-profile-form-3-x-profileContainer > button),
.addressEdit .boxContainerBody> :global(button) {
  min-height: 48px;
  border: 1px solid #000000 !important;
  color: #ffffff !important;
  background: #000000 !important;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  font-family: 'Roboto';
  border-radius: 0;
}

:global(.vtex-my-account-1-x-profileBoxContainer .vtex-my-account-1-x-boxContainer),
:global(.vtex-my-account-1-x-newsletterBoxContainer) {
  padding: 24px 24px 16px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 10%);
  background: #ffffff;
}

:global(.vtex-my-account-1-x-profileBoxContainer .vtex-my-account-1-x-boxContainer .vtex-my-account-1-x-boxContainerBody),
:global(.vtex-my-account-1-x-newsletterBoxContainer .vtex-my-account-1-x-boxContainerBody) {
  background: #ffffff;
}

:global(.vtex-my-account-1-x-addressBox .vtex-my-account-1-x-boxContainer) {
  padding: 32px 48px 16px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

:global(.vtex-my-account-1-x-addressBox .vtex-my-account-1-x-boxContainer .vtex-my-account-1-x-boxContainerBody) {
  background: #ffffff;
}

:global(.vtex-my-account-1-x-addressBox .vtex-my-account-1-x-boxContainer .vtex-my-account-1-x-boxContainerBody > div) {
  padding: 0;
}

:global(.vtex-my-account-1-x-addressBox .vtex-my-account-1-x-boxContainer .vtex-my-account-1-x-boxContainerBody > div .address-summary) {
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
  font-family: 'Roboto';
  color: #000000;
}

.boxContainerBody button,
.boxContainerBody button:hover {
  border: none;
  border-radius: 0;
  font-family: 'Roboto';
  padding: 0.75rem;
  font-weight: 500;
  font-size: 14px;
}

.boxContainerBody button:not(:global(.c-on-disabled)),
.boxContainerBody button:hover:not(:global(.c-on-disabled)) {
  color: white;
  cursor: pointer;
  background-color: black;
}

:global(.vtex-account .vtex-input-prefix__group > span) {
  display: none;
}

:global(.vtex-account .vtex-input-prefix__group) {
  height: 40px;
  box-shadow: unset;
  border: 0;
  border-radius: 0;
}

:global(.vtex-address-form__container)>div {
  padding: 0 0 16px;
}

:global(.vtex-address-form__container)>div :global(.vtex-address-form-4-x-dropdown) {
  margin: 0;
}

:global(.vtex-address-form__container) {
  margin-bottom: 16px;
}

:global(.vtex-account__order-details > div > div > time span) {
  font-family: 'roboto';
  width: 100%;
  text-transform: uppercase;
  justify-content: center;
  font-weight: 700;
  font-size: 12px;

  color: #000000;
  margin: 0;
}

:global(.vtex-account__order-details > div > div > time) {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  font-family: 'roboto';
  font-size: 14px;
}

:global(.vtex-account__order-details > div > div > time > div) {
  padding: 0;
  padding-left: 24px;
}

:global(.vtex-account__order-details > div > div > .list a) {
  font-family: 'roboto';
  width: 100%;
  text-transform: uppercase;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  color: #000000;
  margin: 0;
}

:global(.vtex-my-orders-app-3-x-productPrice),
:global(.vtex-my-orders-app-3-x-productQuantity),
:global(.vtex-my-orders-app-3-x-productTotalPrice) {
  font-family: 'roboto';
  font-size: 12px;
}

:global(.vtex-account__order-details > div > div > .list a span) {
  padding: 0.75rem 1.5rem;
  color: #000000;
  border: 1px solid #000000;
  margin-left: 0 !important;
}

:global(.vtex-account__order-details > div > div > .list a svg) {
  display: none;
  margin: 0;
  width: 0;
}

:global(.vtex-account__order-details > div > .myo-progress-bar) {
  padding: 24px 32px;
  height: 12rem;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  border: none;
}

:global(.vtex-account__order-details > div > div > .flex > .myo-margin-right) {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 0.5rem;
  color: #000000;
  font-weight: 600;
  font-size: 16px;
}

:global(.vtex-account__order-details > div > div > .flex > .flex) {
  padding-top: 0.5rem;
}

:global(.vtex-account__order-details > div > div > .flex > .flex span) {
  font-family: 'roboto';
  font-size: 14px;
}

:global(.vtex-account__order-details > div > div > .flex > .flex span:last-child) {
  color: white;
}

:global(.vtex-account__order-details > div > section > article > section) {
  height: 100%;
  background: #ffffff;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

:global(.vtex-account__order-details > div > section > article > section > div) {
  font-family: 'roboto';
}

:global(.vtex-account__order-details > div > section > article > section .address-summary),
:global(.vtex-account__order-details > div > section > article > section > div > div) {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #272727;
  font-family: 'roboto';
}

:global(.vtex-account__order-details > div > section > article > section > div > strong) {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #000000;
}

:global(.vtex-account__order-details > div > section > article > section) {
  padding: 24px 32px;
}

:global(.vtex-account__order-details > div > section > article > section svg),
:global(.vtex-account__order-details > div > section > article > section button) {
  display: none;
  margin: 0;
  width: 0;
}

:global(.vtex-account__order-details > div > section > article > section a) {
  letter-spacing: 0.1em;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
}

:global(.vtex-account__order-details > div > section > article > section a > span) {
  letter-spacing: 0.1em;
  text-decoration-line: underline;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: #000000;
}

:global(.vtex-account__order-details > div > section > article > section hr) {
  visibility: hidden;
}

:global(.vtex-account__order-details > div > section > article > section > h3) {
  border-bottom: 1px solid #f0f0f0;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 0.5rem;
  color: #000000;
  font-weight: 600;
}

:global(.vtex-account__order-details > div > section > article > section .address-summary) {
  padding-top: 0.5rem;
}

:global(.vtex-account__order-details > div > section > article > section > a) {
  font-family: 'roboto';
}

:global(.vtex-account__order-details > div > .myo-progress-bar > .myo-progress-bar__title-font) {
  font-weight: 600;
  color: #000000;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 20px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;

  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 1rem;
}

:global(.vtex-account__order-details > div > div > .flex-column) {
  padding: 24px 32px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

:global(.vtex-account__order-details > div > div > .flex-column h2) {
  margin-top: 0;
  font-weight: 600;
  color: #000000;
  font-size: 22px;
}

.newsletterBoxContainer :global(.vtex-my-account-1-x-boxContainer) {
  box-shadow: none;
}

:global(.vtex-my-orders-app-3-x-reorderBtn) {
  margin-bottom: 1rem;
}

:global(.vtex-return-app-2-x-productUrl) {
  color: #000000;
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

:global(.vtex-return-app-2-x-tableTd) {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

:global(.vtex-return-app-2-x-tableTd:first-child) {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
}

:global(.vtex-return-app-2-x-statusDenied) {
  margin-left: 45px;
  color: #bf1c1d;
}

:global(.vtex-return-app-2-x-statusPendingVerification) {
  color: #f2994a;
}

:global(.vtex-my-orders-app-3-x-optionDisclaimer button) {
  color: white;
  font-family: 'Roboto';
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  border: #000;
  padding: 15px 60px;
  cursor: pointer;
  background: #000000;
}

:global(.vtex-return-app-2-x-requestInfoTimelineContainer .vtex-return-app-2-x-statusLine .vtex-return-app-2-x-statusIcon.vtex-return-app-2-x-statusIconChecked) svg {
  display: none;
}

:global(.vtex-return-app-2-x-requestInfoTimelineContainer .vtex-return-app-2-x-statusLine .vtex-return-app-2-x-statusIcon.vtex-return-app-2-x-statusIconChecked)::before {
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.2002 11.3466V12.2666C22.199 14.423 21.5007 16.5213 20.2095 18.2484C18.9184 19.9756 17.1035 21.2391 15.0356 21.8505C12.9676 22.4619 10.7575 22.3885 8.73467 21.6412C6.71188 20.8939 4.98485 19.5127 3.81116 17.7037C2.63746 15.8946 2.07999 13.7547 2.22187 11.6029C2.36376 9.45117 3.1974 7.40293 4.59848 5.76368C5.99955 4.12442 7.89298 2.98199 9.99638 2.50675C12.0998 2.03151 14.3005 2.24894 16.2702 3.1266' stroke='%2312794C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M22.2002 4.2666L12.2002 14.2766L9.2002 11.2766' stroke='%2312794C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  content: '';
  display: block;
  height: 25px;
  width: 25px;
}

:global(.vtex-return-app-2-x-requestInfoTimelineContainer .vtex-return-app-2-x-statusLine .vtex-return-app-2-x-statusIcon:not(.vtex-return-app-2-x-statusIconChecked) + .vtex-return-app-2-x-requestInfoTimelineText) {
  color: #d2d2d2;
}

:global(.vtex-return-app-2-x-requestInfoTimelineContainer .vtex-return-app-2-x-statusLine .vtex-return-app-2-x-statusIcon)::before {
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12.5996' cy='12.2666' r='12' fill='%23D2D2D2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  content: '';
  content: '';
  display: block;
  height: 25px;
  width: 25px;
}

:global(.vtex-return-app-2-x-requestInfoMainContent + .vtex-return-app-2-x-requestInfoSectionTitle)::before {
  color: #000000;
  content: 'Status da solicitação';
  font-family: 'Cormorant Garamond';
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

:global(.vtex-return-app-2-x-requestInfoMainContent + .vtex-return-app-2-x-requestInfoSectionTitle .vtex-return-app-2-x-requestInfoSectionTitleStrong) {
  font-size: 0;
  height: 16px;
}

:global(.vtex-return-app-2-x-tableProducts .vtex-return-app-2-x-tableTbody .vtex-return-app-2-x-tableTd):nth-child(7),
:global(.vtex-return-app-2-x-tableProducts .vtex-return-app-2-x-tableTbody .vtex-return-app-2-x-tableTd):nth-child(5),
:global(.vtex-return-app-2-x-tableProducts .vtex-return-app-2-x-tableThead .vtex-return-app-2-x-tableTh):nth-child(7),
:global(.vtex-return-app-2-x-tableProducts .vtex-return-app-2-x-tableThead .vtex-return-app-2-x-tableTh):nth-child(5) {
  font-size: 0;
}

:global(.vtex-return-app-2-x-returnFormExtraComment) {
  padding-left: 0px;
}

:global(.vtex-return-app-2-x-returnFormTerms) {
  width: 100%;
  padding-left: 0px;
}

:global(.vtex-return-app-2-x-returnFormActions) {
  padding-left: 0px;
}

:global(.vtex-return-app-2-x-tableTh) {
  display: table-cell;
}

:global(.vtex-return-app-2-x-tableTdImage) {
  padding: 0;
  width: 90px;
}

:global(.vtex-profile-form-3-x-personalFields:nth-child(4n)) {
  display: none;
}

:global(.vtex-my-account-1-x-addressBox .vtex-my-account-1-x-boxContainer) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:global(.vtex-my-account-1-x-addressBox .vtex-my-account-1-x-boxContainer .vtex-my-account-1-x-boxContainerBody) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:global(.vtex-return-app-2-x-myReturnsHolder .return-info-title-container) {
  margin-bottom: 16px;
}

:global(.vtex-return-app-2-x-myReturnsHolder .return-info-container) {
  background-color: #fff;
  border: 1px solid #f0f0f0;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 24px 32px;
}

:global(.vtex-return-app-2-x-myReturnsHolder .return-info-title) {
  font-family: 'Cormorant Garamond';
  font-weight: 600;
  font-size: 18px;
  color: #000;
  line-height: 22px;
  margin-bottom: 8px;
}

:global(.vtex-return-app-2-x-myReturnsHolder .return-info-text) {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  color: #272727;
  line-height: 17px;
}

:global(.vtex-return-app-2-x-myReturnsHolder .return-info-button) {
  border: none;
  background-color: #fff;
}

:global(.vtex-return-app-2-x-myReturnsHolder .return-info-divider) {
  height: 1px;
  width: 100%;
  background-color: #f0f0f0;
  border: none;
  margin: 16px 0 32px;
}

:global(.vtex-return-app-2-x-myReturnsHolder .return-info-find-button),
:global(.vtex-return-app-2-x-myReturnsHolder .return-info-find-button):hover {
  display: flex;
  text-decoration: unset;
  text-transform: uppercase;
  width: 263px;
  height: 48px;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-weight: 500;
  color: #000;
  font-size: 12px;
  background-color: #ffa687;
}

:global(.vtex-return-app-2-x-myReturnsHolder .return-info-see-more) {
  display: none;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 11px;
  color: #272727;
  line-height: 13px;
  text-transform: uppercase;
  margin-right: 13px;
}

:global(.vtex-return-app-2-x-myReturnsHolder .return-info-arrow-down-icon)::before {
  content: '';
  display: flex;
  height: 10px;
  width: 16px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.6667 1.33337L7.99856 8.00157L1.33342 1.33337' stroke='%23F08769' stroke-width='2' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
}

:global(.vtex-return-app-2-x-myReturnsHolder .return-info-link):focus-visible,
:global(.vtex-return-app-2-x-myReturnsHolder .return-info-find-button):focus-visible {
  outline: unset;
}

:global(.vtex-return-app-2-x-myReturnsHolder .return-info-link) {
  color: #f08769;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 24px;
}

:global(.vtex-return-app-2-x-myReturnsHolder .return-info-main-content .return-info-text) {
  margin-bottom: 16px;
}

/* My Account */
@media screen and (min-width: 40em) {
  .menu {
    width: 30%;
  }

  :global(.vtex-account__order-details > div > section) {
    display: flex;
  }

  :global(.vtex-account__order-details > div > section > article) {
    min-height: 100%;
  }
}

@media screen and (max-width: 767px) {

  .addressCreate .boxContainerBody,
  .addressEdit .boxContainerBody,
  .profileFormBoxContainer .boxContainerBody {
    margin: 0;
    background-color: #fafafa;
    box-shadow: none;
  }

  :global(.vtex-my-account-1-x-boxContainer) {
    box-shadow: none;
  }

  :global(.vtex-return-app-2-x-tableTr) {
    flex-direction: column;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }

  :global(#root) {
    padding: 0;
    background-color: #fafafa;
    box-shadow: none;
  }

  :global(.vtex-account__order-details > div > div > time) {
    margin-top: 0;
    margin-bottom: 1rem;
    align-items: flex-start;
    flex-direction: column;
  }

  :global(.vtex-account__order-details > div > div > time > div) {
    margin-top: 10px;
    padding-left: 0;
  }

  :global(.vtex-my-account-1-x-addressBox) {
    flex-direction: column;
  }

  :global(.vtex-pageHeader__container .flex-wrap) {
    flex-wrap: nowrap;
    align-items: center;
  }

  :global(.vtex-pageHeader__title) {
    white-space: nowrap;
  }

  :global(.newAddressButton div:before),
  :global(.vtex-my-cards-1-x-newCardButton div:before) {
    width: 39px;
  }

  :global(.vtex-my-orders-app-3-x-orderProductName) {
    font-size: 14px;
  }

  :global(.vtex-my-orders-app-3-x-orderHeaderValue),
  :global(.vtex-my-orders-app-3-x-orderHeaderLabel),
  :global(.vtex-my-orders-app-3-x-orderProductShipping),
  :global(.vtex-my-orders-app-3-x-orderProductQuantityValue),
  :global(.vtex-my-orders-app-3-x-orderId),
  :global(.vtex-my-orders-app-3-x-orderHeader .ph3),
  :global(.vtex-my-orders-app-3-x-orderHeader .ph3 .c-on-base) {
    font-size: 12px;
  }

  :global(.vtex-account__order-details > div > div > .list li > a > span) {
    width: 85%;
    text-align: center;
  }
}

@media screen and (max-width: 1440px) {
  :global(.vtex-account__page) {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  :global(.vtex-return-app-2-x-tdEligibleOrderId::before) {
    content: 'ID do pedido';
    display: block;
    font-weight: 600;
    margin-bottom: 4px;
  }

  :global(.vtex-return-app-2-x-tdEligibleCreationDate::before) {
    content: 'Data do pedido';
    display: block;
    font-weight: 600;
    margin-bottom: 4px;
  }

  :global(.vtex-return-app-2-x-eligibleOrder:last-child) {
    margin-bottom: 0;
  }

  :global(.vtex-return-app-2-x-tableTdQuantity > label::before) {
    content: 'Quantidade:';
    width: 100%;
    display: block;
    font-family: 'roboto';
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 8px;
  }

  :global(.vtex-return-app-2-x-tableTdReason > .vtex-return-app-2-x-reasonHolder::before) {
    content: 'Motivo:';
    width: 100%;
    display: block;
    font-family: 'roboto';
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 8px;
  }

  :global(.vtex-return-app-2-x-tableTdReason:last-child > .vtex-return-app-2-x-reasonHolder::before) {
    content: 'Condição:';
    width: 100%;
    display: block;
    font-family: 'roboto';
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 8px;
  }

  :global(.vtex-return-app-2-x-returnFormInputsColumnLeft .vtex-return-app-2-x-returnFormInput::before) {
    content: 'Email*';
    width: 100%;
    display: block;
    font-family: 'roboto';
    font-weight: 400;
    font-size: 12px;
    margin-top: 24px;
  }

  :global(.vtex-return-app-2-x-returnFormInputsColumnLeft .vtex-return-app-2-x-returnFormInput:nth-of-type(1)::before) {
    content: 'Nome*';
    width: 100%;
    display: block;
    font-family: 'roboto';
    font-weight: 400;
    font-size: 12px;
    margin-top: 24px;
  }

  :global(.vtex-return-app-2-x-returnFormInputsColumnLeft .vtex-return-app-2-x-returnFormInput:last-child::before) {
    content: 'Celular*';
    width: 100%;
    display: block;
    font-family: 'roboto';
    font-weight: 400;
    font-size: 12px;
    margin-top: 24px;
  }

  :global(.vtex-return-app-2-x-returnFormInput input) {
    font-weight: 400;
    font-size: 14px;
  }

  :global(.vtex-return-app-2-x-returnFormInputsHeader) {
    display: none;
  }

  :global(.vtex-return-app-2-x-tableThead) {
    display: flex;
    color: #313030;
  }

  :global(.vtex-return-app-2-x-returnFormInputsHeader) {
    display: none;
  }

  :global(.vtex-return-app-2-x-requestInformationActionBack) :global(.vtex-button) {
    background: transparent;
    border: 1px solid #000000;
    color: #000;
    font-size: 12px;
    font-weight: 500;

    width: 100%;
    text-transform: uppercase;
  }

  :global(.vtex-return-app-2-x-returnFormInfoActions) {
    justify-content: center;
  }

  :global(.vtex-return-app-2-x-requestInformationActionSubmit) :global(.vtex-button) {
    background: #f08769;
    border: 0;
    color: #000;
    font-size: 12px;
    font-weight: 500;
    padding: 13px 32px;
    width: 100%;
    text-transform: uppercase;
    margin-top: 16px;
  }

  :global(.vtex-.returnFormInputsPayment) {
    padding-left: 0px;
  }

  :global(.vtex-return-app-2-x-returnFormInputsPayment) {
    padding-left: 0px;
  }

  :global(.vtex-return-app-2-x-returnFormExtraComment) {
    padding-left: 0px;
  }

  :global(.vtex-return-app-2-x-returnFormInputsColumnLeft) {
    padding-left: 0px;
  }

  :global(.vtex-return-app-2-x-) {
    padding-left: 0px;
  }

  :global(.vtex-return-app-2-x-requestInformationActionColumn-) {
    width: 100%;
  }

  :global(.vtex-return-app-2-x-returnFormTerms) {
    width: 100%;
    padding-left: 0px;
  }

  :global(.vtex-return-app-2-x-tblProducts th) {
    display: none;
  }

  :global(.vtex-return-app-2-x-returnFormExtraComment .vtex-return-app-2-x-returnFormExtraCommentInput .vtex-textarea__input) {
    border: #000 1px solid;
  }

  :global(.vtex-return-app-2-x-returnFormTerms .b--action-primary) {
    background-color: #ffa687;
    border-color: #ffa687;
  }

  :global(.vtex-return-app-2-x-returnFormTerms .vtex-checkbox__label) {
    font-weight: 400;
    font-size: 14px;
    font-family: 'roboto';
  }

  :global(.vtex-return-app-2-x-returnFormTerms a) {
    color: #ffa687;
  }
}

@media screen and (min-width: 768px) {
  :global(.vtex-return-app-2-x-myReturnsHolder > .vtex-return-app-2-x-filterList) {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }

  :global(.vtex-return-app-2-x-myReturnsHolder > .vtex-table__container) {
    width: 100%;
  }

  :global(.vtex-return-app-2-x-requestInfoMainContent + .vtex-return-app-2-x-requestInfoSectionTitle) {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 24px 32px 18px;
    position: relative;
    top: 18px;
  }

  :global(.vtex-return-app-2-x-requestInfoMainContent + .vtex-return-app-2-x-requestInfoSectionTitle)::after {
    border: 1px solid #f0f0f0;
    content: '';
  }

  :global(.vtex-return-app-2-x-tableProducts + .vtex-return-app-2-x-requestInfoOrder .vtex-return-app-2-x-requestInfoOrderText) {
    color: #000000;
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
  }

  :global(.vtex-return-app-2-x-tableProducts .vtex-return-app-2-x-tableThead .vtex-return-app-2-x-tableTh):nth-child(2) {
    text-transform: capitalize;
  }

  :global(.vtex-return-app-2-x-myReturnsHolder .vtex-table__container .TopRightGrid_ScrollWrapper .ReactVirtualized__Grid__innerScrollContainer) div {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #313030;
  }

  :global(.vtex-return-app-2-x-myReturnsHolder .vtex-return-app-2-x-filterList) div {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
  }

  :global(.vtex-return-app-2-x-myReturnsHolder .vtex-return-app-2-x-addNewList + .vtex-return-app-2-x-filterList)::before {
    content: 'Filtros';
    color: #000000;
    position: absolute;
    font-family: 'Cormorant Garamond', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    font-size: 18px;
    bottom: 65px;
    left: 4px;
  }

  :global(.vtex-return-app-2-x-myReturnsHolder .vtex-return-app-2-x-addNewList + .vtex-return-app-2-x-filterList > .vtex-return-app-2-x-filterColumnReturnId):first-child::before {
    bottom: 46px;
    color: #313030;
    content: 'Número da solicitação';
    position: absolute;
  }

  :global(.vtex-return-app-2-x-myReturnsHolder .vtex-return-app-2-x-filterList div:nth-child(2) .vtex-return-app-2-x-filterColumnReturnId)::before {
    content: 'Quantidade de produtos';
    color: #313030;
    position: absolute;
    bottom: 46px;
  }

  :global(.vtex-return-app-2-x-myReturnsHolder .vtex-return-app-2-x-filterList .vtex-return-app-2-x-filterColumnFromDate)::before {
    content: 'Data inicial';
    color: #313030;
    position: absolute;
    bottom: 46px;
  }

  :global(.vtex-return-app-2-x-myReturnsHolder .vtex-return-app-2-x-filterList .vtex-return-app-2-x-filterColumnToDate)::before {
    content: 'Data final';
    color: #313030;
    line-height: 17px;
    position: absolute;
    bottom: 43px;
  }

  :global(.vtex-return-app-2-x-myReturnsHolder .vtex-return-app-2-x-filterList .vtex-return-app-2-x-filterColumnStatus)::before {
    content: 'Status da solicitação';
    color: #313030;
    line-height: 17px;
    position: absolute;
    bottom: 43px;
  }

  :global(.vtex-return-app-2-x-myReturnsHolder .vtex-table__container .TopRightGrid_ScrollWrapper .ReactVirtualized__Grid__innerScrollContainer)>div:first-child::before {
    content: 'Número da solicitação';
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #313030;
  }

  :global(.vtex-return-app-2-x-myReturnsHolder .vtex-table__container .TopRightGrid_ScrollWrapper .ReactVirtualized__Grid__innerScrollContainer)>div:nth-child(2)::before {
    content: 'Ordem de compra';
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #313030;
    position: relative;
    right: 12px;
  }

  :global(.vtex-return-app-2-x-myReturnsHolder .vtex-table__container .TopRightGrid_ScrollWrapper .ReactVirtualized__Grid__innerScrollContainer) div div {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0;
    color: #313030;
  }

  :global(.vtex-return-app-2-x-myReturnsHolder .vtex-table__container .TopRightGrid_ScrollWrapper .ReactVirtualized__Grid__innerScrollContainer) div span {
    font-size: 0;
  }

  :global(.vtex-return-app-2-x-myReturnsHolder .vtex-table__container .TopRightGrid_ScrollWrapper .ReactVirtualized__Grid__innerScrollContainer) div:nth-child(3)::before {
    content: 'Data da solicitação';
    font-size: 14px;
    position: relative;
    right: 5px;
  }

  :global(.vtex-return-app-2-x-myReturnsHolder .vtex-table__container .TopRightGrid_ScrollWrapper .ReactVirtualized__Grid__innerScrollContainer) div:nth-child(4)::before {
    content: 'Status da solicitação';
    font-size: 14px;
    position: relative;
    left: 20px;
  }

  :global(.vtex-return-app-2-x-myReturnsHolder .ReactVirtualized__Grid .ReactVirtualized__Grid__innerScrollContainer div:nth-child(2)) {
    font-size: 14px;
  }

  :global(.vtex-return-app-2-x-myReturnsHolder .vtex-table__container .TopRightGrid_ScrollWrapper .ReactVirtualized__Grid__innerScrollContainer) div:nth-child(5)::before {
    content: 'Detalhes';
    font-size: 14px;
  }

  :global(.vtex-return-app-2-x-returnFormInputsColumnLeft .vtex-return-app-2-x-returnFormInput::before) {
    content: 'Email*';
    width: 100%;
    display: block;
    font-family: 'roboto';
    font-weight: 400;
    font-size: 12px;
  }

  :global(.vtex-return-app-2-x-returnFormInputsColumnLeft .vtex-return-app-2-x-returnFormInput:nth-of-type(1)::before) {
    content: 'Nome*';
    width: 100%;
    display: block;
    font-family: 'roboto';
    font-weight: 400;
    font-size: 12px;
  }

  :global(.vtex-return-app-2-x-returnFormInputsColumnLeft .vtex-return-app-2-x-returnFormInput:last-child::before) {
    content: 'Celular*';
    width: 100%;
    display: block;
    font-family: 'roboto';
    font-weight: 400;
    font-size: 12px;
  }

  :global(.vtex-return-app-2-x-returnFormInputs .vtex-return-app-2-x-returnFormInput input) {
    font-weight: 400;
    font-size: 14px;
  }

  :global(.vtex-return-app-2-x-returnFormTerms .b--action-primary) {
    background-color: #ffa687;
    border-color: #ffa687;
  }

  :global(.vtex-return-app-2-x-returnFormTerms .vtex-checkbox__label) {
    font-weight: 400;
    font-size: 14px;
    font-family: 'roboto';
  }

  :global(.vtex-return-app-2-x-returnFormTerms a) {
    color: #ffa687;
  }
}

:global(.vtex-profile-form-3-x-personalFields:nth-child(4n)) {
  display: none;
}

:global(.vtex-my-account-1-x-addressBox .vtex-my-account-1-x-boxContainer) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:global(.vtex-my-account-1-x-addressBox .vtex-my-account-1-x-boxContainer .vtex-my-account-1-x-boxContainerBody) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 64em) {
  :global(.vtex-return-app-2-x-myReturnsHolder .return-info-see-more) {
    display: block;
  }

  :global(.vtex-return-app-2-x-myReturnsHolder .return-info-text) {
    font-size: 14px;
  }
}

:global(.t-small.mt2.lh-title.c-muted-1) {
  display: none;
}

:global(.vtex-return-app-2-x-returnFormExtraCommentInput:after) {
  content: 'Máx. 250 caracteres';
  display: flex;
  justify-content: end;
}

:global(.vtex-return-app-2-x-tableTdReason option[disabled]) {
  opacity: 0;
  font-size: 0;
  color: #fff;
}

:global(.vtex-return-app-2-x-tableTdReason .vtex-dropdown__caption > div) {
  opacity: 0;
}

:global(.vtex-return-app-2-x-tableTdReason .c-on-base .vtex-dropdown__caption > div) {
  opacity: 1;
}

:global(.vtex-return-app-2-x-tableTbody .vtex-return-app-2-x-tableProductsRow) {
  display: none;
}

:global(.vtex-return-app-2-x-tableProducts tbody tr:nth-of-type(2)) {
  display: table-row;
}

:global(.vtex-my-account-1-x-newsletterBoxContainer)::after {
  content: "Tendo analisado e compreendido a Politica de Privacidade, declaro ter mais de 18 anos de idade e aceito receber comunicados de marketing da Vivara e Life by Vivara.";
  display: block;
  font-size: 11px;
}
